<%- include('partials/header.ejs')%>
<main class="container">
    <h1>500 Internal Server Error</h1>
    <p>Oops! Something went wrong on our end. Please try again later</p>
</main>
<%- include('partials/footer.ejs')%>