
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" type="x-icon" href="tech.png">
    <title> Home | TechSolutions Inc.</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<%- include('./partials/header.ejs') -%>

<div class="">
    <div class="banner">
        <div class="banner-text">
    <section class="main-content">
        <!-- <h1>TechSolutions Inc.</h1> -->
        <h2>Transforming Businesses with Innovative TechSolutions</h2>
        <p>Welcome to TechSolutions, we leverage cutting-edge technologies to drive business success.</p>
    </section>
        </div>
    </div>
</div>
<div class="responsive-container-block Container bottomContainer">
    <img class="mainImg" src="office.jpg">
    <div class="allText bottomText">
      <p class="text-blk headingText">
        Welcome to TechSolutions: Igniting Innovation, Powering Progress
      </p>
      <p class="text-blk description">
        At TechSolutions, we are your gateway to a world where technology meets ingenuity. As a premier technology solutions provider, we embark on a mission to empower businesses and individuals with cutting-edge innovations that redefine possibilities. Welcome to a digital experience where excellence is not just a goal but a standard.
        </div>
  </div>
</div>
</div>
<%-include('partials/footer.ejs')%>
</body>
</html>
